@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$clr-prim1: hsl(10, 79%, 65%);
$clr-prim2: hsl(186, 34%, 60%);

$clr-neut1: hsl(25, 47%, 15%);
$clr-neut2: hsl(28, 10%, 53%);
$clr-neut3: hsl(27, 66%, 92%);
$clr-neut4: hsl(33, 100%, 98%);

* {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: $clr-neut3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header {
    background-color: $clr-prim1;
    width: 350px;
    height: 5rem;
    display: flex;
    color: $clr-neut3;
    border-radius: 0.7rem;
    margin-bottom: 1rem;

    justify-content: space-between;
    padding: 1rem;

    &_balance {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 0.7rem;
            font-weight: 400;
        }

        p {
            font-size: 1.2rem;
        }
    }

    img {
        width: 2.5rem;
    }
}

.main {
    background-color: $clr-neut4;
    width: 350px;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;

    h1 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &_chart {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0.5rem;
        height: 12rem;
        margin-bottom: 1rem;

        &_day {
            font-size: 0.6rem;
            color: $clr-neut2;
            text-align: center;
            margin-top: 1rem;
        }

    }

    &_bar {
        background-color: $clr-prim1;
        
        border-radius: 0.3rem;
        width: 1.8rem;
        cursor: pointer;

        transition: opacity 0.3s ease-out;

        &:hover {
            opacity: 0.6;
        }
    }

    &_bottom {
        border-top: 1px solid $clr-neut3;
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        h3 {
            color: $clr-neut2;
            font-size: 0.6rem;
            margin-bottom: 0.3rem;
        }
        h2 {
            font-size: 1.4rem;
        }
        h4 {
            margin-top: 1rem;
            font-size: 0.8rem;
            text-align: right;
            margin-bottom: 0.3rem;
        }
    }
}

.day-contain {
    position: relative;
    transition: opacity 0.3s ease-out;
}

.pop {
    position: absolute;
    top: -1.3rem;
    font-size: 0.6rem;
    background-color: $clr-neut1;
    color: $clr-neut4;
    left: -0.3rem;
    padding: 0.2rem 0.3rem;
    border-radius: 0.2rem;
    transition: all 0.15s ease-out;
    opacity: 1;
    transform: scale(1);
}

.hidden {
    opacity: 0;
    transform: scale(0);
}

.highlight {
    background-color: $clr-prim2;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.6rem;

    a {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 900px) {
    * {
        font-size: 24px;
    }

    .header, .main {
        width: 550px;
    }

    .header {
        &_balance {
            padding-bottom: 0.3rem;
        }
    }

    .main {
        padding: 0.6rem 1.2rem;
        &_bar {
            width: 2.2rem;
        }

        &_chart {
            height: 10rem;
            margin-bottom: 0.6rem;

            &_day {
                margin-top: 0.4rem;
            }
        }

        &_bottom {
            h2 {
                font-size: 1.8rem;
            }
            h3 {
                font-weight: 400;
            }
            margin-bottom: 1rem;
        }
        
    }
    .pop {
        left: -0.1rem;
    }
}

